.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  // height: 100vh;
  justify-content: center;
  align-items: center;
  // padding-top: 118px;

  &__blurb {
    position: relative;
    z-index: 1;
    opacity: 0;
    width: 100%;
    animation-name: fade-all;
    animation-duration: 0.4s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }

  &__title {
    position: absolute;
    right: 0;
  }

  &__scroll {
    position: absolute;
    bottom: 90px;
    right: 7%;
    visibility: hidden;
    // font-family: 'Gilroy';
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    transition: bottom 0.4s;
    animation-name: scroll-text;
    animation-duration: 1s;
    animation-delay: 1.6s;
    animation-fill-mode: forwards;

    &:hover {
      bottom: 100px;
    }
  }
}
